/**
*   VARS
**/

/**
 * Colour palette.
 */

$color-brand: #585b5d;
$color-grey: #c1c1c1;
$color-grey-dark: #9a9a9a;
$color-grey-darkest: #353535;
$color-grey-light: #e4e4e4;
$color-grey-lightest: #f4f4f4;
$color-grey-transparent: rgba(228, 228, 228, 0.4);
$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, 0.2);
$color-pink: #CE245E;
$color-primary: #2196f3;
$color-primary-light: #a8c8e2;
$color-primary-dark: #0a385f;
$color-blue: #2ea0dc;
$color-blue-dark:#0a2c38;


$font-family-default: sans-serif;
$font-family-heading: "Montserrat", sans-serif;

$spacing-base: 1.5rem;