@import "vars";
@import "mixins/_clearfix";

/**
 * -----------------------------------------------------------------------------
 * $HTML
 * -----------------------------------------------------------------------------
 */

body {
    color: $color-brand;
    font-family: $font-family-default;
    margin: 0;
}


/**
 * -----------------------------------------------------------------------------
 * $HEADING
 * -----------------------------------------------------------------------------
 */

/**
 * Styles for the `h1` to `h6` elements.
 */

/**
 * 1. Reduces the spacing above & below the font.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-heading;
	line-height: 1; /* 1. */

	margin-top: 0;
}

img {
    max-width:100%;
}

.hide {
    display:none;
}

.invisible {
    visibility:hidden;
}

.vote {
    margin: 0 auto;
    max-width:800px;
}

.room-image {
    width:100%;
}

.title {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.room-name-bar {
    padding:5px;
}

.room-name-bar-1 {
    background-color: $color-blue;
}

.room-name-bar-2 {
    background-color: $color-blue-dark;
}

.room-name {
    color: $color-white;
    margin: 5px;
}

.horizontal-split {
    width:100%;
}

.half-column {
    display:inline-block;
    position:relative;
    width: 50%;
}

.vote-bar {
    bottom:38%;
    background-color:$color-white-transparent;
    position:absolute;
    height: 50px;
    width: 50%;
}

.vote-bar-1 {
    border-radius: 20px 0 0 20px;
    right:0;
}

.vote-bar-2 {
    border-radius: 0 20px 20px 0;
    left:0;
}

.vote-icon {
    position : absolute;
    top:0;
}

.vote-icon-left {
    left:10px;
}

.vote-icon-right {
    right:10px;
}

.vote-count {
    color:$color-brand;
    font-size: 32px;
    margin-top: 10px;
    text-align:center;
}
.vote-count-1 {
    margin-left : 65px;
}