/**
*   VARS
**/
/**
 * -----------------------------------------------------------------------------
 * $CLEARFIX
 * -----------------------------------------------------------------------------
 */
/**
 * Micro clearfix by Nicolas Gallagher for clearing floats.
 * http://nicolasgallagher.com/micro-clearfix-hack/
 */
/**
 * Adds micro clearfix to element.
 */
/**
 * -----------------------------------------------------------------------------
 * $HTML
 * -----------------------------------------------------------------------------
 */
body {
  font-family: sans-serif;
  margin: 0; }

/**
 * -----------------------------------------------------------------------------
 * $HEADING
 * -----------------------------------------------------------------------------
 */
/**
 * Styles for the `h1` to `h6` elements.
 */
/**
 * 1. Reduces the spacing above & below the font.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  /* 1. */
  margin-top: 0; }

img {
  max-width: 100%; }

.hide {
  display: none; }

.title {
  text-align: center;
  text-transform: uppercase; }

.horizontal-split {
  margin: 0;
  padding: 0;
  width: 100%; }

.half-column {
  display: inline-block;
  width: 50%; }

.vote-icon {
  bottom: 50px; }

.vote-icon-left {
  position: absolute;
  left: 100px; }

.vote-icon-right {
  position: absolute;
  right: 100px; }

